.section__country{
    background-color: #cdcdc0;
}
.country__container{
    display: inline;
}
.country__grid{
    display: flex;
    margin:5px;
    position: relative;
}
.country__image{
    border: grey solid 2px;
    border-radius: 20px;
    position: relative;
}
.section__country__text{
    margin-left:20px;
    margin-bottom: 20px;
    font-family: serif;
}