.section__russianCities{
    background-color: #cdcdc0;
}

.russiancities__container{
    display: inline;
 
}

.russianCities__photo{
    width: 365px;
    border: grey solid 2px;
    border-radius: 20px;
    position: relative;
}

.russianCities__card{
    display: flex;
    margin: 35px;
    position: relative;
}

.section__russianCities__text{
    margin-left: 45px;
    margin-bottom: 20px;
    font-family: serif;
    
}

.names{
    font-size: 30px;
    color: black;
    font-family: serif;
}