.russianCities__photo{
    max-width: 365px;
    border: grey solid 2px;
    border-radius: 20px;
    position: relative;
    }
    
    .russianCities__card{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    flex-wrap: wrap;
  
    }
    .img-country{
    max-width: 325px;
    border: grey solid 2px;
    border-radius: 20px;
    position: relative;
    margin: 10px;
    padding: 5px;
    } 